body {
    background-color: #121212;
}

.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.btn:active {
    opacity: 0.6;
    transition: 0.3s;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.btn {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.stop-btn {
    background-color: #93392f;
}

.continue-btn {
    background-color: #137100;
}
